exportPattern("^[[:alpha:]]+")
importFrom("RCurl", "getURL")
importFrom("methods", "new")
importFrom("utils", "download.file", "flush.console", "read.csv", "read.delim")
importFrom("oce", "numberAsPOSIXct")
